* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 10rem;
}

hr {
    padding-bottom: 2rem;
}

#logo1 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 2rem;
}

.title_image {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.h2h3 {
    background-color: #b80050;
    width: 35rem;
    height: 12rem;
    text-align: center;
    padding-top: 5rem;
    color: #fff5f5;
}

.h2h3 h2 {
    font-size: 2.5rem;
}

.h2h3 h3 {
    font-size: 1.5rem;
}

.title_image img {
    width: 20rem;
    height: 12rem;
}

.lone_banner {
    text-align: center;
    padding: 1rem;
    font-size: 2.5rem;
    color: #b80050;
}

.spring_sprung img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.middle {
    padding-top: 1.5rem;
    padding-left: 2.3rem;
    padding-bottom: 1.5rem;
}

.flex_1 {
    display: flex;
    gap: 50px;
    padding-bottom: 2rem;
    
}

.flex_2 {
    display: flex;
    gap: 70px;
}

.flex_3 {
    display: flex;
    gap: 50px;
    padding: 2rem;
}

.months_1,
.months_2,
.months_3 {
    color:#b80050;
    font-size: 1.4rem;
}

.activities_1,
.activities_2,
.activities_3 {
    font-size: 1.4rem;
}

.bttn_pic img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.save_spot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 16rem;
    height: 4rem;
    margin-bottom: 2.2rem;
    font-size: 1.5rem;
    background: #b80050;
    color: #fff5f5;
    border: none;
}





.must_read {
    background-color: #fce4db;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 10rem;
    position: relative;
    z-index: 0;
    
}

.grid_2 {
    padding-top: 5rem;
}

.new_title {
    color:#b80050;
    font-size: 2rem;
    text-wrap: nowrap;
}


.care_you {
    font-size: 18px;
}

.care_you span {
    font-style: italic;
    font-style: bold;
    font-size: 18px;
    padding-top: 2px; 
}

.lila {
    font-style: italic;
    font-style: bold;
    padding-top: 2px;
}

.must_read img {
    width: 12rem;
    height: 12rem;
    position: relative;
    z-index: 1;
    margin-top: -12px;
}

.paras {
  margin: 1.5rem;
}

.grid_2 {
    display: grid;
    grid-template-columns: 390px 350px;
    grid-template-areas: 
        "makeover grandoll"
        "makeover backpacks";

}

#makeover {
    grid-area: makeover;
}

#grandoll {
    grid-area: grandoll;
}

#backpacks {
    grid-area: backpacks;
}


.sentence_1 {
    font-size: 1.4rem;
    padding-left: 1.2rem;
    padding-top: 1.5rem;
}

.save_spot2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 16rem;
    height: 4rem;
    margin-bottom: 2.2rem;
    font-size: 1.5rem;
    background: #b80050;
    color: #fff5f5;
    border: none;
}

.border {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid #b80050;
    border-right: 2px solid #b80050;
    border-bottom: 2px solid #b80050;
}

.grid_3 {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    /*grid-template-areas: ;*/
}


.fa-house {
    grid-area: house;
    color: #b80050;
    font-size: 3rem;
}
.fa-calendar-days {
    grid-area: days;
    color: #b80050;
    font-size: 3rem;

}

.fa-mobile {
    grid-area: mobile;
    color: #b80050;
    font-size: 3rem;
}

/*flexbox for icons*/

.icons {
    display: flex;
    gap: 5rem;
    align-items: center;
    margin-bottom: 40px;
}

.p_grid {
    display: grid;
    grid-template-columns: 80px 80px 80px;
    grid-template-areas: "shop virtual online";
    gap:43px;

}

.shop_store {
    grid-area: shop;
}

.virtual {
    grid-area: virtual;
    
}

.online {
    grid-area: online;
}

.p_grid p {
    position: relative;
    right: 100px;
    top: 60px;
    width: 30px;
}

.shop_store {
    text-align: center;
    
}

.virtual p {
    grid-area: virtual;
    
}

.online p {
    grid-area: online;
}






